footer.footer
    .container
        .row.justify-content-between
            .col.footer__col
                p.footer__title Камень
                .navbar.navbar_footer
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") CENTRAL PARK
                        a.navbar_footer__item(href="collection.html") CANYON
                        a.navbar_footer__item(href="collection.html") MONTANA
                        a.navbar_footer__item(href="collection.html") MARBLE TREND
                        a.navbar_footer__item(href="collection.html") GENESIS
                        a.navbar_footer__item(href="collection.html") TERRAZZO
                        a.navbar_footer__item(href="collection.html") SHEVRO
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") MANHATTAN
                        a.navbar_footer__item(href="collection.html") THE BRONX
                        a.navbar_footer__item(href="collection.html") BLACK&WHITE
                        a.navbar_footer__item(href="collection.html") ETERNA
                        a.navbar_footer__item(href="collection.html") ONICE
                        a.navbar_footer__item(href="collection.html") ARRIS
                        a.navbar_footer__item(href="collection.html") SHAKESPEARE
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") TERRA
                        a.navbar_footer__item(href="collection.html") PREMIUM MARBLE
            .col.footer__col
                p.footer__title Дерево
                .navbar.navbar_footer
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") PATCHWOOD
                        a.navbar_footer__item(href="collection.html") RANCHO
                        a.navbar_footer__item(href="collection.html") MADERA
                        a.navbar_footer__item(href="collection.html") PALE WOOD
                        a.navbar_footer__item(href="collection.html") CIMIC WOOD
                        a.navbar_footer__item(href="collection.html") TIME RING
                        a.navbar_footer__item(href="collection.html") VILLAGE
            .col.footer__col
                p.footer__title Для коммерческих объектов
                .navbar.navbar_footer
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") GREY STONE
                        a.navbar_footer__item(href="collection.html") SNOW WHITE
                        a.navbar_footer__item(href="collection.html") CONCRETE
                        a.navbar_footer__item(href="collection.html") CEMENT CRUMBS
                        a.navbar_footer__item(href="collection.html") LOUNGE WOOD
                        a.navbar_footer__item(href="collection.html") BLANCO MEANDRI
                        a.navbar_footer__item(href="collection.html") SELECT WOOD
            .col.footer__col
                p.footer__title Навигация и информация
                .navbar.navbar_footer
                    .navbar_footer__column
                        a.navbar_footer__item(href="collection.html") Реализованные объекты
                        a.navbar_footer__item(href="collection.html") Дизайнерам и архитерторам
                        a.navbar_footer__item(href="collection.html") Сертификаты
                        a.navbar_footer__item(href="collection.html") Скачать материалы
                        a.navbar_footer__item(href="collection.html") Укладка и уход
                    .navbar_footer__column.navbar_footer__column--last
                        a.navbar_footer__item(href="collection.html") О компании
                        a.navbar_footer__item(href="collection.html") Где купить?
                        a.navbar_footer__item(href="collection.html") Расчет стоимости
                        a.navbar_footer__item(href="collection.html") Контакты
        .footer__sep
        .row
            .col-4.col-sm-12.text-sm-center
                p.footer__intro © Все права защищены. Kerranova. 1999-2020
            .col-4.col-sm-12.text-center
                p.footer__intro
                    a.footer__intro-link(href="#") Положение об обработке и защите персональных данных 
            .col-4.col-sm-12.text-right.text-sm-center
                p.footer__intro Скачать 
                    a.footer__intro-link(href="#") полный каталог товаров
.overlay.overlay--disable
.modal.modal_form#callbackModal
    form.form.modal_form__content
        .form__group.mb-1
            input.input.input--full(type="text" placeholder="Ваше имя")
        .form__group.mb-1
            input.input.input--full.input--error.phone(type="tel" placeholder="* Телефон")
            span.form__validation.error Обязательно укажите телефон
        button.btn.btn_action.btn--xs-full(type="submit") Перезвоните мне
        .form__agree.checkbox.checkbox_agree
            input.checkbox__input.checkbox_agree__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
            label.checkbox__label.checkbox_agree__label(for="agreeInline") согласен с обработкой 
                a.form__link-inverse(href="/policy.pdf" target="_blank") персональных данных        
//- .preloader
    //- <svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" viewBox="0 0 105 105" fill="#919191">
    //-     <circle cx="12.5" cy="12.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="0s" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="12.5" cy="52.5" r="12.5" fill-opacity=".5">
    //-         <animate attributeName="fill-opacity" begin="100ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="52.5" cy="12.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="300ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="52.5" cy="52.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="600ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="92.5" cy="12.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="800ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="92.5" cy="52.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="400ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="12.5" cy="92.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="700ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="52.5" cy="92.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="500ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //-     <circle cx="92.5" cy="92.5" r="12.5">
    //-         <animate attributeName="fill-opacity" begin="200ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite"/>
    //-     </circle>
    //- </svg>