.cart-item{
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &__image{
        flex: 0 0 180px;
        max-width: 30%;
    }
    &__collection{
        font-size: 12px;
        font-weight: $font-weight-light;
        color: $grey;

        margin-bottom: $spacer/8;
    }
    &__title{
        display: block;

        font-size: 18px;
        line-height: 20px;
        font-weight: $font-weight-bold;
        color: $black;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:hover, &:focus{
            color: $black;
        }
    }
    &__article{
        font-size: 12px;
        color: $grey;
    }
    &__prop{
        display: flex;
        flex-wrap: wrap;

        font-size: 12px;
        // color: $grey;
        margin-bottom: 0;

        &-name{
            flex: 0 0 90px;
            max-width: 90px;
            text-align: left;
            font-weight: $font-weight-light;

            // white-space: nowrap;

            &--xl{
                flex: 0 0 250px;
                max-width: 250px;
            }
        }
        &-val{
            flex: 0 0 calc(100% - 90px);
            max-width: calc(100% - 90px);
            text-align: right;
            font-weight: $font-weight-light;
            margin-bottom: 4px;
            line-height: 1.2;

            &--xl{
                flex: 0 0 calc(100% - 250px);
                max-width: calc(100% - 250px);
            }
        }
    }
    &__price{
        font-size: 18px;
        line-height: 20px;
        font-weight: $font-weight-bold;
        text-align: right;
        margin-bottom: 0;

        .woocommerce-Price-amount{
            font-weight: 600;
        }
    }
    &__subprice{
        font-size: 14px;
        text-align: right;
        margin-bottom: 0;
    }
    &__rub{
        margin-left: 4px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cart-item{
        &__image{
            flex: 0 0 120px;
        }
        &__title{
            font-size: 16px;
            line-height: 18px;
        }
        &__order-price{
            padding-left: 0;
        }
        &__price{
            font-size: 16px;
            line-height: 18px;
        }
        &__subprice{
            font-size: 12px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cart-item{
        &__prop-val{
            padding-left: 4px;
            text-align: left;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .cart-item{
        &__image{
            flex: 0 0 90px;
            max-width: 25%;
            padding-right: 0;
        }
        &__order-price{
            padding-left: $grid-gutter-width/2;
        }
        &__price{
            font-size: 16px;
            text-align: left;
        }
        &__subprice{
            text-align: left;
        }
    }
}