.label_link{
    background: $light-grey;
    border-color: $light-grey;
    cursor: pointer;

    &:hover, &:focus{
        color: $black;
        border-color: $border-color;
    }

    &--active{
        background-color: $black;
        color: $white;
        border-color: $black;
        &:hover, &:focus{
            background-color: $black;
            color: $white;
            border-color: $black;
        }
    }
}