.label{
    font-size: 12px;
    line-height: 1;
    padding: 10px 15px;

    color: $black;
    border-radius: 20px;
    border: 1px solid $border-color;

    &:hover, &:focus{
        color: $black;
        border-color: darken($color: $border-color, $amount: 10);
        text-decoration: none;
    }

    &--active{
        background: $light-grey;
        border-color: $light-grey;
    }
}