.content{
    overflow: hidden;

    ul:not(.breadcrumbs){
        li{
            @extend .list__item;
            @extend .list_square__item;
        }
    }
    ol{
        @extend .list_numeric;
        li{
            @extend .list__item;
            @extend .list_numeric__item;
        }
    }
    table{
        border: 1px solid $border-color;

        thead{
            // font-size: map-get($font-size, 'sm');
            font-weight: $font-weight-light;
            color: $grey;
            border-bottom: 1px solid $border-color;

            th{
                font-weight: $font-weight-light;                
            }
        }
    }
}

.content-row{
    &__slider{
        flex: 0 0 calc(100% - 400px);
        max-width: calc(100% - 400px);
    }
    &__promo{
        flex: 0 0 400px;
        max-width: 400px;
        height: 420px;
    }
    &__promo-inside{
        height: 100%;
    }
}