.content-group{
    position: relative;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    
    padding-right: 140px;

    &__item{
        margin-right: $spacer/4;
    }
    &__link{
        position: absolute;
        right: 0;
        top: 0;
    }
}