.content{
    overflow: hidden;

    ul:not(.breadcrumbs){
        li{
            @extend .list__item;
            @extend .list_square__item;
        }
    }
    ol{
        @extend .list_numeric;
        li{
            @extend .list__item;
            @extend .list_numeric__item;
        }
    }
    table{
        border: 1px solid $border-color;

        thead{
            // font-size: map-get($font-size, 'sm');
            font-weight: $font-weight-light;
            color: $grey;
            border-bottom: 1px solid $border-color;

            th{
                font-weight: $font-weight-light;                
            }
        }
    }
}