.container {
  max-width: 100%;
  width: map-get($container-max-widths, 'hd');
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
  margin-right: auto;
  margin-left: auto
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -($grid-gutter-width/2);
  margin-left: -($grid-gutter-width/2);

  &_instagram{
    margin-left: -4px;
    margin-right: -4px;
    .col, [class*=col-] {
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0
}
.no-gutters>.col,.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0
}
// меньше 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
  .container{
      // контейнер 1360px
      width: map-get($container-max-widths, 'xl');
  }
}
// меньше 1400px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
  .container{
      // контейнер 980px
      width: map-get($container-max-widths, 'lg');
  }
}
// меньше 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
  .container{
      // контейнер 740px
      width: map-get($container-max-widths, 'md');
  }
}
// меньше 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
  .container{
      // контейнер 440px
      width: map-get($container-max-widths, 'sm');
  }
}
// меньше 480px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
  .container{
      width: 100%;
  }
}
