.woocommerce-result-count{
    font-size: 12px;
    line-height: 1;
    color: $grey;
}
.woocommerce{
    .woocommerce-widget-layered-nav-list{
        .woocommerce-widget-layered-nav-list__item{
            margin-bottom: $spacer/2;
    
            a{
                position: relative;
                cursor: pointer;
    
                margin-bottom: $spacer/4;
                padding-left: 50px!important;
                line-height: 16px;
    
                &::before{
                    content: '';
                    display: block;
    
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateY(-8px);
    
                    width: 34px;
                    height: 34px;
                    margin: 0;
                    border: 1px solid $border-color;
                    border-radius: 4px;
                }

                &:hover, &:focus{
                    text-decoration: none;
                    color: $grey;
                }
            }
            .count{
                margin-left: $spacer/8;
                opacity: .6;
            }
    
            &:last-child{
                margin-bottom: 0;
            }
    
            &--chosen{
                a{
                    &:before{
                        background: url("../icon/checkmark.svg") no-repeat center / 10px;
                    }
                }
            }
        }
    }
    .woocommerce-widget-layered-nav-checkboxes{
        .woocommerce-widget-layered-nav-checkboxes__item{
            margin-bottom: $spacer/2;
            @extend .checkbox;

            .knv-attribute-filter,
            input[type=checkbox]{
                @extend .checkbox__input;
                &[disabled=disabled] + label{
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            label{
                @extend .checkbox__label;
            }
        }
    }
}
// Счётчик количества в товаре
.knv_quantity_decrease{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;

    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.knv_quantity_increase{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;

    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.knv_quantity_view{
    display: inline-block;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    text-align: center;
    line-height: 22px;
    padding: 4px 10px;
    margin: 0 10px;
    min-width: calc(100% - 90px);
}
// Скрытые вариации в товаре
.product__label{
    display: none;
}
.product__label[data-attribute=pa_017-size],
.product__label[data-attribute=pa_027-surface-type]{
    display: block;
}
.variation_radio_input{
    display: none;
}
.variation_radio_input[data-attribute_name=attribute_pa_017-size],
.variation_radio_input[data-attribute_name=attribute_pa_027-surface-type]{
    display: block;
}

// Недоступные вариации в товаре
.knv-variation-not-found{
    text-decoration: none;
    opacity: .5;
}

// Instargam Widget
#sb_instagram #sbi_images{
    @extend .row;
    @extend .row_instagram;
    float: unset;
}
#sb_instagram #sbi_images .sbi_item{
    @extend .col-2;
    @extend .col-md-4;
    @extend .col-sm-6;
    width: 100%!important;
}

// Woocommerce Alert
.woocommerce-error, .woocommerce-info, .woocommerce-message{
    padding-left: calc((100% - 1470px)/2);
    padding-right: calc((100% - 1470px)/2);

    margin-bottom: 0;

    border-color: $grey;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    &:before,
    &:after{
        display: none;
    }

    li{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .restore-item,
    .button{
        float: none;
        @extend .btn;
        @extend .btn_secondary; 
        @extend .btn--small;
        &.wc-forward{
            margin-right: $spacer/2;
        }
    }
}
.woocommerce-message{
    border-top: none;
    background: #E5F5DC;
}
.woocommerce-error{
    border-top: none;
    background: $danger;
    color: $white;
}
.woocommerce-info{
    border-top: none;
    background: $white;
}

.woocommerce{
    .woocommerce-notices-wrapper{
        .woocommerce-error, .woocommerce-info, .woocommerce-message{
            margin-top: $spacer;
            padding-left: $spacer;
            padding-right: $spacer;
        }
        .woocommerce-info{
            border: 1px solid $border-color;
        }
        .woocommerce-error{
            border: 1px solid $danger;
        }
        .woocommerce-message{
            border: 1px solid $success;
        }
        .restore-item{
            @extend .btn;
            @extend .btn_secondary;
            @extend .btn--small;
        }
    }
}
.collection{
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        margin-bottom: $spacer;
        padding-left: $spacer;
        padding-right: $spacer;
    }
    .woocommerce-info{
        border: 1px solid $border-color;
    }
    .woocommerce-error{
        border: 1px solid $danger;
    }
    .woocommerce-message{
        border: 1px solid $success;
    }
}

// Cart
.knv-cart-active{
    @extend .header__btn_cart--active;
}
.woocommerce img.preview_collection__gallery-item, 
.woocommerce-page img.preview_collection__gallery-item{
    @extend .preview_collection__gallery-item;
}
// Cart Coupon
.knv-woocommerce-form-coupon-toggle{
    font-size: map-get($map: $font-size, $key: sm);
    margin: 0 0 $spacer/2;

    .showcoupon{
        text-decoration: underline;
    }
}
.cart .woocommerce-form-coupon,
.woocommerce form.checkout_coupon{
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: $spacer/2 3*$spacer/4;
    background-color: $white;
    margin: 0 0 $spacer/2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    p:not(.form-row){
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-row{
        float: unset;
        margin: 0;
        padding: 0;

        .input,
        .input-text{
            @extend .input;
            line-height: normal;
        }
        .button{
            @extend .btn;
            @extend .btn_action;
            @extend .btn--full;
            line-height: 1.3;
        }

        &.form-row-first{
            flex: 0 0 calc(100% - 210px);
            max-width: calc(100% - 210px);
        }
        &.form-row-last{
            flex: 0 0 200px;
            max-width: 200px;
        }
    }
}
.woocommerce-remove-coupon{
    font-size: 12px;
    font-weight: 400;
    color: $grey;
}
.cart.row{
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        padding-right: $grid-gutter-width/2;
        padding-left: $grid-gutter-width/2;
    }
    .coupon{
        .input{
            line-height: normal;
        }
        .button{
            @extend .btn;
            @extend .btn_action;
            line-height: 1.3;
        }
    }
}

// Currency
.woocommerce-Price-currencySymbol{
    font-weight: 400;
}
// Order{
.woocommerce-checkout-review-order{
    .woocommerce-Price-amount{
        font-size: map-get($map: $font-size, $key: sm);
    }
    .variation{
        font-size: 12px;
        line-height: 14px;
    
        p{
            font-size: 12px;
            line-height: 14px;
        }
    
        dt{
            display: none;
        }
        dd{
            margin-bottom: 2px;
        }
    }
    .product-quantity{
        font-weight: 400;
    }
}
.woocommerce .form.form_order .form-row label{
    font-size: 12px;
    line-height: 14px;
}

// Checkout
.woocommerce .form.form_order{
    .woocommerce-billing-fields__field-wrapper{
        @extend .row;
        @extend .align-items-end;
        .form-row{
            @extend .col-6;
            float: unset;
            margin: 0 0 $spacer/2;
        }
    }
    .payment_box{
        padding-left: 50px;
        p{
            @extend .text-small;
            width: 210px;
            max-width: 100%;
            color: $grey;
        }
    }
    .form-row.place-order{
        padding: 0;
        margin: $spacer/2 0 0;
    }
    .woocommerce-terms-and-conditions-wrapper{
        p{
            @extend .text-small;
            margin: 0 0 $spacer/2;
        }
        a{
            text-decoration: underline;
        }
    }
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    float: unset;
}
// Order
.woocommerce .woocommerce-order{
    @extend .row;
    .woocommerce-order-details{
        //col-8 col-lg-7 col-md-6 col-sm-12 pt-3 pb-3
        @extend .col-8;

        &__title{
            @extend .h6;
        }
    }
    .woocommerce-customer-details{
        // col-4 col-lg-5 col-md-6 col-sm-12 pt-3 pb-3 pt-sm-0
        @extend .col-4;

        address{
            border-radius: 4px;
            border: 1px solid $border-color;
            padding: $spacer/2;
            background-color: $white;
        }
    }
    .woocommerce-column__title{
        @extend .h6;
    }

    .woocommerce-table.woocommerce-table--order-details{
        thead{
            font-size: 12px;
            font-weight: $font-weight-normal;
        }
        .woocommerce-table__line-item{
            .woocommerce-table__product-name{
                a{
                    font-weight: $font-weight-bold;
                    color: $black;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                .wc-item-meta{
                    @extend .mt-1;
                    @extend .text-small;
                    li{
                        padding-left: 0;
                        line-height: 1.3;
                        &:before{
                            display: none;
                        }
                    }
                    .wc-item-meta-label{
                        font-weight: $font-weight-normal;
                        color: $grey;
                    }
                    p{
                        @extend .text-small;
                    }
                }
            }
        }
    }

    .woocommerce-notice{
        @extend .col-12;
        @extend .h3;
        // border-radius: 4px;
        // border: 1px solid $border-color;
        // border-bottom: none;
        // padding-top: $spacer/2;
        // padding-bottom: $spacer/2;
        // margin: 0;
        // background-color: $white;
    }
    .woocommerce-order-overview{
        @extend .col-12;
        // border-radius: 4px;
        // border: 1px solid $border-color;
        // border-top: none;
        // padding-bottom: $spacer/2;
        // background-color: $white;

        li{
            font-size: 1rem;
            text-transform: none;
            color: $grey;
            border: none;

            float: unset;
            display: flex;
            align-items: center;
            padding: 0;            

            &:before{
                display: none;
            }

            strong{
                font-size: 1rem;
                font-weight: $font-weight-normal;
                color: $black;
                margin-left: $spacer/2;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        // контейнер 1360px
        padding-left: calc((100% - 1330px)/2);
        padding-right: calc((100% - 1330px)/2);
    }
}
// меньше 1400px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        // контейнер 980px
        padding-left: calc((100% - 950px)/2);
        padding-right: calc((100% - 950px)/2); 
    }
    // Order
    .woocommerce .woocommerce-order{
        .woocommerce-order-details{
            //col-8 col-lg-7 col-md-6 col-sm-12 pt-3 pb-3
            @extend .col-lg-7;
        }
        .woocommerce-customer-details{
            // col-4 col-lg-5 col-md-6 col-sm-12 pt-3 pb-3 pt-sm-0
            @extend .col-lg-5;
        }
    }
}
// меньше 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        // контейнер 740px
        padding-left: calc((100% - 710px)/2);
        padding-right: calc((100% - 710px)/2);
    }
    .woocommerce form.checkout_coupon{
        .form-row, .form-row.form-row-first, .form-row.form-row-last{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
// меньше 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        // контейнер 440px
        padding-left: calc((100% - 410px)/2);
        padding-right: calc((100% - 410px)/2);
    }
    // Checkout
    .woocommerce .form.form_order{
        .woocommerce-billing-fields__field-wrapper{
            .form-row{
                @extend .col-sm-12;
            }
        }
    }
    // Order
    .woocommerce .woocommerce-order{
        .woocommerce-order-details{
            //col-8 col-lg-7 col-md-6 col-sm-12 pt-3 pb-3
            @extend .col-sm-12;
            @extend .mb-sm-2;
        }
        .woocommerce-customer-details{
            // col-4 col-lg-5 col-md-6 col-sm-12 pt-3 pb-3 pt-sm-0
            @extend .col-sm-12;
        }
    }
}
// меньше 480px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        padding-left: 15px;
        padding-right: 15px;
    }
    .woocommerce form.checkout_coupon{
        padding: $spacer/2;
    }
}