.woocommerce-result-count{
    font-size: 12px;
    line-height: 1;
    color: $grey;
}
.woocommerce{
    .woocommerce-widget-layered-nav-list{
        .woocommerce-widget-layered-nav-list__item{
            margin-bottom: $spacer/2;
    
            a{
                position: relative;
                cursor: pointer;
    
                margin-bottom: $spacer/4;
                padding-left: 50px!important;
                line-height: 16px;
    
                &::before{
                    content: '';
                    display: block;
    
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateY(-8px);
    
                    width: 34px;
                    height: 34px;
                    margin: 0;
                    border: 1px solid $border-color;
                    border-radius: 4px;
                }
            }
            .count{
                margin-left: $spacer/8;
                opacity: .6;
            }
    
            &:last-child{
                margin-bottom: 0;
            }
    
            &--chosen{
                a{
                    &:before{
                        background: url("../icon/checkmark.svg") no-repeat center / 10px;
                    }
                }
            }
        }
    }
}
// Счётчик количества в товаре
.knv_quantity_decrease{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;

    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.knv_quantity_increase{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;

    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.knv_quantity_view{
    display: inline-block;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    text-align: center;
    line-height: 22px;
    padding: 4px 10px;
    margin: 0 10px;
    min-width: calc(100% - 90px);
}
// Скрытые вариации в товаре
.product__label{
    display: none;
}
.product__label[data-attribute=pa_017-size],
.product__label[data-attribute=pa_027-surface-type]{
    display: block;
}
.variation_radio_input{
    display: none;
}
.variation_radio_input[data-attribute_name=attribute_pa_017-size],
.variation_radio_input[data-attribute_name=attribute_pa_027-surface-type]{
    display: block;
}

// Instargam Widget
#sb_instagram #sbi_images{
    @extend .row;
    @extend .row_instagram;
    float: unset;
}
#sb_instagram #sbi_images .sbi_item{
    @extend .col-2;
    @extend .col-md-4;
    @extend .col-sm-6;
    width: 100%!important;
}

// Woocommerce Alert
.woocommerce-info{
    @extend .alert;
    width: auto;

    &::before{
        display: none;
    }
}

// Cart
.woocommerce img.preview_collection__gallery-item, 
.woocommerce-page img.preview_collection__gallery-item{
    @extend .preview_collection__gallery-item;
}
// Currency
.woocommerce-Price-currencySymbol{
    font-weight: 400;
}

// Cart
.knv-woocommerce-form-coupon-toggle{
    font-size: map-get($map: $font-size, $key: sm);
    margin: 0 0 $spacer/2;

    .showcoupon{
        text-decoration: underline;
    }
}
.woocommerce form.checkout_coupon{
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: $spacer/2 3*$spacer/4;
    background-color: $white;
    margin: 0 0 $spacer/2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p:not(.form-row){
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-row{
        float: unset;
        margin: 0;
        padding: 0;

        .input-text{
            @extend .input;
        }
        .button{
            @extend .btn;
            @extend .btn_action;
            @extend .btn--full;
        }

        &.form-row-first{
            flex: 0 0 calc(100% - 210px);
            max-width: calc(100% - 210px);
        }
        &.form-row-last{
            flex: 0 0 200px;
            max-width: 200px;
        }
    }
}

// Order{
.woocommerce-checkout-review-order{
    .woocommerce-Price-amount{
        font-size: map-get($map: $font-size, $key: sm);
    }
    .variation{
        font-size: 12px;
        line-height: 14px;
    
        p{
            font-size: 12px;
            line-height: 14px;
        }
    
        dt{
            display: none;
        }
        dd{
            margin-bottom: 2px;
        }
    }
    .product-quantity{
        font-weight: 400;
    }
}
.woocommerce .form.form_order .form-row label{
    font-size: 12px;
    line-height: 14px;
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .woocommerce form.checkout_coupon{
        .form-row, .form-row.form-row-first, .form-row.form-row-last{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .woocommerce form.checkout_coupon{
        padding: $spacer/2;
    }
}