
.collection-aside{
    // display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;

    background-color: $white;;

    width: 380px;
    max-width: 100%;
    padding: $spacer/2;

    max-height: 100vh;
    overflow-y: auto;

    transition: .5s;
    transform: translateX(100%);

    &__row{
        margin-left: -$spacer/4;
        margin-right: -$spacer/4;
    }
    &__col{
        padding-left: $spacer/4;
        padding-right: $spacer/4;

        .preview_product{
            &__title{
                font-size: map-get($map: $font-size, $key: "md");
                white-space: pre-wrap;
            }
            &__collection, &__size{
                font-size: map-get($map: $font-size, $key: "sm");
            }
        }
    }

    &__title{
        font-size: 17px;
        font-weight: $font-weight-bolder;
        line-height: $line-height-heading;

        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: $spacer;
    }
    &__link{
        font-size: map-get($map: $font-size, $key: "sm");
        font-weight: $font-weight-bold;
        line-height: 18px;
        cursor: pointer;
    }
    &__close{
        top: $spacer/4;
        right: $spacer/2;
    }

    &--active{
        // display: block;
        transform: translateX(0);
        z-index: 999;
    }
}