
.collection-aside_filter{
    overflow: hidden;
    padding-right: 0;

    .collection-aside__close{
        top: $spacer/2;
    }

    &__body{
        padding-right: $spacer/2;
        height: calc( 100% - 140px );
        overflow-y: auto;

        &--full{
            height: calc( 100% - 40px );
        }
    }
    &__footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: $spacer/2;
        background-color: $white;
        border-top: 1px solid $border-color;
    }
}