.collection{
    &__title{
        margin-bottom: $spacer/2;
    }
    &__intro{
        // font-size: map-get($map: $font-size, $key: "sm");
        margin-bottom: $spacer;
    }
    &__filter{
        padding: 0 0 $spacer/2;
        margin: 0 0 $spacer/2;
        border-bottom: 1px solid $border-color;
    }
    &__row{
        .col{
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}