.product-content{
    position: relative;
    padding: $spacer 0 map-get($map: $spacers, $key: 4);
    transition: .4s;

    &__btn{
        position: absolute; 
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;

        background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
    }

    &--close{
        max-height: 160px;
        overflow: hidden;
    }
    &--open{
        max-height: 800px;
    }

    // Woocommerce
    .woocommerce-product-attributes{
        border: none;
    }
    .woocommerce-product-attributes-item__label{
        font-weight: $font-weight-base;
        color: $grey;
        padding: 0 20px 4px 0;
    }
    .woocommerce-product-attributes-item__value{
        padding: 0 0 4px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .product-content{
        font-size: 14px;
        table, ol, ul, p{
            font-size: 14px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product-content{
        padding-bottom: map-get($map: $spacers, $key: 4);
        &--open{
            max-height: 1200px;
        }
    }
}