.product-sidebar{
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: map-get($map: $spacers, $key: 2);
    width: 320px;
    max-width: 100%;
    margin-left: auto;

    &__type{
        justify-content: center;
        margin: $spacer/4 auto;
    }
    &__info{
        @extend .text-small;
        font-weight: $font-weight-bold;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: map-get($map: $spacers, $key: 1);

        &-icon{
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }
    }

    & + .product-sidebar{
        border-top: none;
    }

    &-btn{
        display: block;
        width: 320px;
        max-width: 100%;
        margin-left: auto;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .product-sidebar{
        width: 100%;

        & + .product-sidebar{
            border-top: 1px solid $border-color;
        }

        &__type{
            margin-bottom: 0;
        }

        &-btn{
            width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product-sidebar{
        order: 1;

        &_info{
            order: 3;
        }

        &-btn{
            width: 100%;
            order:2;
        }
    }
}