.product-slider{
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer/2;

    &__item{
        position: relative;
        width: 100%;
        height: auto;

        background: no-repeat center / cover;

        &:after{
            content:'';
            display: block;
            padding-bottom: 75%;
        }
    }
}

.product-slider-nav{
    &__item{
        margin: 0 5px;
        background: no-repeat center / cover;
        height: 80px;
    }
    .slider__item{
        opacity: .5;
        transition: .4s;
        cursor: pointer;
        &:hover,
        &.slick-current{
            opacity: 1;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .product-slider{
        width: 460px;
        &__item{
            &:after{
                padding-bottom: 100%;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product-slider-nav{
        .slick-next{
            transform: translate(50%, -50%);
        }
        .slick-prev{
            transform: translate(-50%, -50%);
        }
    }
}