.preview{
    position: relative;

    &__subtitle{
        font-size: map-get($map: $font-size, $key: "sm");
        font-weight: $font-weight-light;
        line-height: $line-height-heading;
        margin-bottom: $spacer/4;
        color: $grey;
    }
    &__title{
        font-size: 17px;
        font-weight: $font-weight-bolder;
        line-height: $line-height-heading;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: $spacer/4;

        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;

        &_link{
            display: block;
            color: $black;
            &:hover, &:focus{
                color: $black;
            }
        }
    }
    &__intro{
        font-size: map-get($map: $font-size, $key: "md");
        font-weight: $font-weight-light;
        line-height: 1.5;
    }
}