.preview_collection{
    &__catalog{
        &:hover, &:focus{
            text-decoration: none;
            color: inherit;
            .preview__title_link{
                text-decoration: underline;
            }
        }
    }
    &__image{
        width: 100%;
        align-self:center; 
        height: auto;
        margin-bottom: $spacer/4;
    }
    &__gallery{
        display: flex;
        flex-wrap: wrap;

        margin-left:-5px;
        margin-right:-5px;
        margin-bottom: $spacer/4;

        &-item{
            width: 25%;
            flex: 0 0 25%;
            max-width: 25%;
            height: auto;

            align-self:center; 
            padding: 0 5px;
            margin-bottom: $spacer/4;
        }
    }
    &__intro{
        height: 40px;
        overflow: hidden;
    }
    &__link{
        font-size: map-get($map: $font-size, $key: "sm");
        font-weight: $font-weight-bold;
        line-height: 18px;
        margin-top: $spacer/2;
        cursor: pointer;
        
        &:hover, &:focus{
            text-decoration: none;
            color: $black;
        }
    }

    
}
a.preview_collection{
    &:hover, &:focus{
        color: inherit;        
    }
}
    