.preview_page{
    &__label{
        @extend .label;
        padding: 6px 12px;
        position: absolute;
        top: 10px;
        left: 10px;
        background: $red;
        color: $white;
    }
    &__image{
        width: 100%;
        height: 160px;

        background: no-repeat center / cover;
    }
    &__title{
        width: 100%;
        font-size: map-get($map: $font-size, $key: "md");
        font-weight: $font-weight-bold;
        padding: 30px 30px 60px;
        border: 1px solid $border-color;

        &:after{
            top: auto;
            bottom: 20px;
            left: 30px;
            right: auto;
            height: 20px;
            background-position-x: left;
            background-size: 24px;
        }

        &:hover, &:focus{
            text-decoration: underline;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview_page{
        &__title{
            padding: 15px 20px 40px;
            &::after{
                left: 20px;
                bottom: 12px;
            }
        }
    }
}