.preview_promo{
    border-radius: 4px;
    border: 1px solid $border-color;
    // width: 380px;
    width: 100%;
    padding: 0.75*$spacer $spacer;

    &__title{
        font-size: 24px;
    }
    &__image{
        width: 100%;
        height: 180px;
        margin-bottom: $spacer/2;
        background: no-repeat center / cover;
    }
    &__link{
        font-size: map-get($map: $font-size, $key: "sm");
        line-height: 18px;
        font-weight: $font-weight-bold;

        &:after{
            height: 18px;
        }
    }
    &__link-title{
        font-size: map-get($map: $font-size, $key: "md");
        font-weight: $font-weight-bold;
        padding-right: 0;
        padding-bottom: 30px;

        &:after{
            top: auto;
            bottom: 0;
            left: 0;
            right: auto;
            background-position-x: left;
            background-size: 24px;
            height: 20px;
        }

        &:hover, &:focus{
            text-decoration: underline;
        }
    }

    &--smaller{
        padding: $spacer/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .preview_promo{
        padding: $spacer/2 3*$spacer/4;

        &__title{
            font-size: 20px;
        }
        &__image{
            height: 140px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview_promo{
        padding: $spacer/2;
        &__image{
            height: 120px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_promo{
        padding: $spacer/2 3*$spacer/4;
        &__image{
            height: 180px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_promo{
        padding: $spacer/2;

        &__title{
            font-size: 18px;
        }
        &__image{
            height: 140px;
        }
    }
}