.preview_portfolio{
    position: relative;
    width: 100%;
    background: no-repeat center / cover;
    margin-bottom: $spacer/4;

    &:after{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
    &__intro{
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 11;

        font-size: 12px;
        margin: 0;
        padding: $spacer/6 $spacer/4;
        max-width: calc(100% - 40px);
        background: $white;
        border-radius: 6px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_portfolio{
        &__intro{
            bottom: 10px;
            left: 10px;
            max-width: calc(100% - 20px);
            line-height: 1.2;
        }
    }
}