.btn{
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: none;

    // letter-spacing: 1px;
    font-size: 14px;
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    padding: 16px 30px 18px;
    text-align: center;
    text-decoration: none;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
    &--small{
        font-size: 12px;
        padding: 8px 20px 10px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .btn{
        &--md-full{
            width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        padding: 12px 20px 14px;

        &--sm-full{
            width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .btn{
        &--xs-full{
            width: 100%;
        }
    }
}