.slider_product{
    &__col{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .slick-next{
        transform: translate(10px, -50%);
    }
    .slick-prev{
        transform: translate(-10px, -50%);
    }
    &--full{
        .slick-track{
            min-width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider_product{
        &__col{
            flex: 0 0 calc(100%/3);
            max-width: calc(100%/3);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_product{
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_product{
        .slick-arrow{
            &.slick-disabled{
                opacity: 0.3;
            }
        }
        .slick-next{
            transform: translate(0, 0);
            top: 100%;
            right: auto;
            left: 65px;
        }
        .slick-prev{
            transform: translate(15px, 0);
            top: 100%;
        }
    }
}