.slider_content{
    width: 100%;
    padding-right: map-get($map: $spacers, $key: 1);
    // margin-bottom: $spacer;

    &__item{
        position: relative;

        background: no-repeat center / cover;
        border-radius: 6px;
        overflow: hidden;

        width: 100%;
        height: 420px;
        margin: 0;

        &:hover, &:focus{
            .slider_content__text{
                color: $black;
            }
            .slider_content__arrow{
                fill: $grey;
            }
        }
        //- Slick
        &.slick-slide{
            height: 420px;
        }
        //- Collection
        &--collection{
            padding-right: 1px;
            height: auto;
            //- Slick
            &.slick-slide{
                height: auto;
            }
        }
    }
    &__image{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    &__content{
        position: absolute;
        left: $grid-gutter-width;
        bottom: 2*$grid-gutter-width;

        background: $white;
        border-radius: 6px;
        width: 290px;
        max-width: calc(100% - 60px);
        padding: $grid-gutter-width;
    }
    &__text{
        font-size: map-get($map: $font-size, $key: "md");
        font-weight: $font-weight-bold;
        line-height: 1.4;
        // margin-bottom: $grid-gutter-width/2;
        color: $black;

        &:hover, &:focus{
            color: $black;
        }
    }
    &__arrow{
        margin-top: $grid-gutter-width/2;
        transition: .4s;
    }
    //- Slick
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots{
        position: unset;
        // text-align: right;
        display: flex;
        justify-content: flex-end;
        margin: $spacer/4 0;
        bottom: 0;

        li{
            width: auto;
            height: auto;
            transform: scale(0.7);

            button{
                display: block;
                padding: 0;
                background: url("../icon/dot.svg") no-repeat center / 10px;
                width: 12px;
                height: 12px;
                opacity: .5;
                transition: .4s;

                &:before{
                    display: none;
                }
            }

            &.slick-active{
                transform: scale(1);
                button{
                    opacity: 1;
                }
            }
        }
    }
    .slick-arrow{
        top: auto;
        bottom: 2*$grid-gutter-width;        

        &.slick-next{
            right: $grid-gutter-width;
            transform: none;
        }
        &.slick-prev{
            left: auto;
            right: $grid-gutter-width;
            transform: translateX(-50px);
        }
        &.slick-disabled{
            opacity: .4;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider_content{
        &__item{
            //- Slick
            &.slick-slide{
                height: 350px;
            }
            //- Collection
            &--collection{
                height: auto;
                //- Slick
                &.slick-slide{
                    height: auto;
                }
            }
        }
        &__content{
            bottom: $spacer;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider_content{
        padding-right: 0;

        &__item{
            //- Slick
            &.slick-slide{
                height: 294px;
            }
            //- Collection
            &--collection{
                height: auto;
                //- Slick
                &.slick-slide{
                    height: auto;
                }
            }
        }
        &__content{
            padding: 20px;
            bottom: 30px;
            max-width: calc(100% - 40px);
        }

        .slick-arrow{
            top: $grid-gutter-width;
            bottom: auto;        
    
            &.slick-next{
                left: $grid-gutter-width;
                right: auto;
                transform: translateX(50px);
            }
            &.slick-prev{
                right: auto;
                left: $grid-gutter-width;
                transform: none;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_content{
        &__item{
            //- Slick
            &.slick-slide{
                height: 320px;
            }
            //- Collection
            &--collection{
                height: auto;
                //- Slick
                &.slick-slide{
                    height: auto;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_content{
        &__item{
            max-height: 100vh;
            //- Slick
            &.slick-slide{
                height: 360px;
            }
            //- Collection
            &--collection{
                height: auto;
                //- Slick
                &.slick-slide{
                    height: auto;
                }
            }
        }
        &__content{
            width: calc(100% - 40px);
            padding: 20px;
            left: 20px;
            bottom: 20px;
        }
    }
}