.slider{
    .slick-slide{
        height: auto;
        outline: none;
        &:hover,
        &:focus{
            outline: none;
        }
    }
    .slick-arrow{
        background-color: inherit;
        width: 40px;
        height: 40px;
        z-index: 11;
        transition: .4s;
        &.slick-disabled{
            opacity: 0;
        }
    }
    .slick-prev{
        left: 0;
        transform: translate(-50%, -50%);
        background: $white url("../icon/arrow-prev.svg") no-repeat center / 20px;
        filter: drop-shadow( 2px 2px 4px rgba(0,0,0,.15) );

        &:before{content: '';}
        &:hover, &:focus{
            background: $white url("../icon/arrow-prev.svg") no-repeat center / 20px;
            filter: drop-shadow( 2px 2px 4px rgba(0,0,0,.3) );
        }
    }
    .slick-next{
        right: 0;
        transform: translate(50%, -50%);
        background: $white url("../icon/arrow-next.svg") no-repeat center / 20px;
        filter: drop-shadow( 2px 2px 4px rgba(0,0,0,.15) );

        &:before{content: '';}
        &:hover, &:focus{
            background: $white url("../icon/arrow-next.svg") no-repeat center / 20px;
            filter: drop-shadow( 2px 2px 4px rgba(0,0,0,.3) );
        }
    }
}