.slider_collection{
    .slick-prev{left:15px;}
    .slick-next{right:15px;}
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_collection{
        max-width: calc(100% - 120px);
        margin-left: 60px;

        .slick-list{
            overflow: visible;
        }
        .slick-prev{
            left: -25px;
        }
        .slick-next{
            right: -25px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_collection{
        max-width: calc(100% - 80px);
        margin-left: 40px;
        .slick-prev{
            opacity: 0;
        }
        .slick-next{
            opacity: 0;
        }
    }
}