.footer{
    font-size: map-get($font-size, 'sm');
    background-color: $light-grey;
    padding: $spacer/2 0;

    &__col{
        max-width: fit-content;
    }

    &__title{
        font-size: map-get($font-size, 'sm');
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        margin: $spacer/2 0;
    }
    &__sep{
        height: 1px;
        widows: 100%;
        background-color: $border-color;
        margin: $spacer/2 0;
    }
    &__intro{
        font-size: 11px;
        color: $grey;

        &-link{
            color: $grey;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        &__intro{
            margin: 5px 0;
        }
    }
}