.checkbox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 8px;
    
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;

            position: absolute;
            top: 4px;
            left: 12px;

            border-radius: 2px;
            background: url("../icon/checkmark.svg") no-repeat center / contain;
        }
    }
    &__label{
        position: relative;
        cursor: pointer;

        padding-left: 50px;
        line-height: 16px;

        &:before{
            content:'';
            display: block;

            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-8px);

            width: 34px;
            height: 34px;
            border: 1px solid $border-color;
            border-radius: 4px;
        }
    }
}