.input{
    border-radius: 4px;
    background-color: $light-grey;
    border: 1px solid $light-grey;

    padding: 14px $spacer/2;
    margin-bottom: $spacer/4;
    
    max-width: 100%;
    transition: .4s;

    &::placeholder{
        transition: .4s;
        color: $grey;
    }

    &:last-child{
        margin-bottom: 0;
    }

    // Эффекты при наведении
    &:hover, &:focus{
        border-color: $border-color;
        outline: none;
    }
    &:focus::placeholder{
        opacity: 0;
    }
    // Состояние
    &--full{
        width: 100%;
    }
    &.error,
    &--error{
        border-color: $red;
    }
}