.radio_size{
    display: inline-flex;
    padding: 0;
    margin-right: $spacer/4;
    
    &__label{
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid $border-color;
        transition: .4s;

        &:hover, &:focus{
            background-color: $light-grey;
        }

        &:before{
            display: none;
        }
    }
    .radio__input:checked + .radio_size__label {
        background-color: $black;
        color: $white;
        &:after{
            display: none;
        }
    }
}

// Woocommerce
.radio_attribute_pa_027-surface-type,
.radio_attribute_pa_017-size{
    font-size: 14px;
    @extend .radio_size;

    .radio__label{
        @extend .radio_size__label;
    }
    .radio__input:checked + .radio__label {
        background-color: $black;
        color: $white;
        &:after{
            display: none;
        }
    }
}