.form_inline{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    &__input{
        margin-bottom: 0;
        margin-right: $spacer/4;
    }
    // &__btn{
    //     flex: 0 0 220px;
    //     max-width: 220px;
    //     height: 48px;
    // }
    // &__agree{
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }
}