html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Order

        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        include chunks/mixin.pug
        .container
            .row.cart
                .col-8.col-lg-7.col-md-6.col-sm-12.pt-3.pb-3
                    .cart__inside 
                        h1.h3 Заказ успешно оформлен
                        p Спасибо. Ваш заказ принят в обработку. Мы свяжемся с вами в ближайшее время 
                            | для уточнения всех&nbsp;деталей
                        dl.cart__inside-prop
                            dt.cart__inside-name Номер заказа: 
                            dd.cart__inside-val 3207 
                            dt.cart__inside-name Дата заказа: 
                            dd.cart__inside-val Август 31, 2020 
                            dt.cart__inside-name Итоговая сумма: 
                            dd.cart__inside-val 5 637,60 р.
                            dt.cart__inside-name Способ оплаты: 
                            dd.cart__inside-val Оплата по счету
                .col-4.col-lg-5.col-md-6.col-sm-12.pt-3.pb-3.pt-sm-0
                    .cart-order
                        p.h6 Ваш заказ
                        +cart-order-item("Marble Trend", "K-1000 CARRARA", "K-1000/LR/600x600x10", "2 838")(src="../demo/product-1.jpg" alt="" title="")
                        +cart-order-item("Terrazzo", "МОЗАИКА K-1000/m01", "K-1000/m01/30x30", "5 040")(src="../demo/product-2.jpg" alt="" title="")
                        +cart-order-item("Shervo", "МОЗАИКА K-302/m016", "K-302/SR/m06/282x303x10", "5 470")(src="../demo/product-3.jpg" alt="" title="")
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")