html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Catalog

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/mixin.pug
        include chunks/header.pug
        section.container.pt-3.pb-4.pt-md-2.pb-md-3.collection
            h1.h3.mb-3.mb-md-2 Каталог коллекций
            .content-scroll.collection__filter
                .content-group.content-scroll__group
                    a.label.label_link.content-group__item(href="#") Ванна
                    a.label.label_link.content-group__item(href="#") Кухня
                    a.label.label_link.content-group__item(href="#") Гостиная
                    a.label.label_link.label_link--active.content-group__item(href="#") Спальня
                    a.label.label_link.content-group__item(href="#") Офис
                    a.label.content-scroll__link.content-group__link(href="#") Показать все
            .row.mt-2
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Marble Trend", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-1" src="../demo/collection-1.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Premium Marble", "Размеры плитки: 80x160, 80x80, 60x120 см")(id="collection-2" src="../demo/collection-2.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Terrazzo", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-3" src="../demo/collection-3.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Montana", "Размеры плитки: 80x160, 80x80, 60x120, 120x120 см")(id="collection-4" src="../demo/collection-4.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Premium Marble", "Размеры плитки: 80x160, 80x80, 60x120 см")(id="collection-5" src="../demo/collection-2.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Terrazzo", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-6" src="../demo/collection-3.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Marble Trend", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-7" src="../demo/collection-1.png")
                .col-3.col-md-6.col-xs-12.mb-3.mb-sm-2
                    +collection("Premium Marble", "Размеры плитки: 80x160, 80x80, 60x120 см")(id="collection-8" src="../demo/collection-2.png")
            .text-center
                a.btn.btn_secondary.btn--small(href="#") Загрузить ещё
            .row.mt-3
                .col-4.col-md-6.col-sm-12.mb-sm-2
                    .preview.preview_promo
                        //- p.preview__subtitle По применению
                        .preview_promo__image(style="background-image: url('../demo/collection-1.png');")
                        p.preview__title Для ванной комнаты
                        p.preview__intro Коллекции Eternа, Premium Marble и другие
                        a.link-arrow.preview_promo__link(href="collection-type.html") Узнать больше
                .col-4.col-md-6.col-sm-12.mb-sm-2
                    .preview.preview_promo
                        //- p.preview__subtitle По применению
                        .preview_promo__image(style="background-image: url('../demo/collection-3.png');")
                        p.preview__title Для гостиной
                        p.preview__intro Коллекции Eternа, Premium Marble и другие
                        a.link-arrow.preview_promo__link(href="collection-type.html") Узнать больше
                .col-4.d-md-none.col-sm-12.d-sm-block
                    .preview.preview_promo
                        //- p.preview__subtitle По применению
                        .preview_promo__image(style="background-image: url('../demo/collection-4.png');")
                        p.preview__title Для кухни
                        p.preview__intro Коллекции Eternа, Premium Marble и другие
                        a.link-arrow.preview_promo__link(href="collection-type.html") Узнать больше
        .collection-aside(data-collection="collection-1")
            <button class="collection-aside__close icon-btn" aria-label="Закрыть" type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6Z" fill="currentColor"></path></svg></button>
            p.collection-aside__title Marble Trend
            .row.collection-aside__row
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-1.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-2.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-3.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-4.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-1.jpg" alt="" title="")
            a.collection-aside__link.btn.btn_secondary.btn--small(href="collection.html") Перейти в коллекцию
        include chunks/footer.pug
        
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")