html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Collection

    link(href='./css/style.css', rel='stylesheet')

  body
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    include chunks/mixin.pug
    include chunks/header.pug
    //- Slider
    .container.collection
        //- Information
        .row.mt-3.mb-2.mt-sm-2.mb-sm-0
            .col-6.col-sm-12.mb-2
                h1.collection__title Marble Trend
                p.collection__intro В коллекцию Marble Trend вошли самые знаменитые сорта мраморов – 
                    | белоснежные с серыми прожилками холодных и теплых оттенков. Сдержанный и универсальный 
                    | кремовый и насыщенный коричневый, как по отдельности, так и в сочетании позволяют 
                    | создавать классические интерьеры, признанные во всем мире эталоном вкуса и утонченной 
                    | роскоши. В 2018 году в коллекцию добавилась позиция имитирующая серый мрамор, 
                    | с неоднородными прямыми или изогнутыми прожилками разной толщины, которые придают 
                    | ему легкость и утонченность.
            .col-6.col-sm-12.mb-2
                .slider.slider_content
                    a.slider_content__item.slider_content__item--collection(href="/demo/demo.jpg" data-fancybox="gallery")
                        img.slider_content__image(src="/demo/demo.jpg")
                    a.slider_content__item.slider_content__item--collection(href="/demo/photo.png" data-fancybox="gallery")
                        img.slider_content__image(src="/demo/photo.png")
        //- Product List
        .content-scroll.collection__filter
            .content-group
                span.label.label_link.content-group__item.label_link--active(data-filter="sort") Сортировать
                span.label.label_link.content-group__item(data-filter="type") Тип товара
                span.label.label_link.content-group__item(data-filter="price") Цена
                span.label.label_link.content-group__item(data-filter="brand") Производитель
                span.label.label_link.content-group__item(data-filter="all") Все фильтры
        p.woocommerce-result-count Показ всех 3 элементов
        .row.collection__row
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1001 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1002 CALACATTA GOLD", "Marble Trend" , "60х60, 30х60, 120х60", "от 769")(style="background-image:url('../demo/product-2.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1003 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 2 449")(style="background-image:url('../demo/product-3.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1004 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 959")(style="background-image:url('../demo/product-4.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1005 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-5.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1006 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1007 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-2.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1008 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-3.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1001 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
            .col.col-sm-6.mb-3.mb-sm-2
                +product("K-1002 CALACATTA GOLD", "Marble Trend" , "60х60, 30х60, 120х60", "от 769")(style="background-image:url('../demo/product-2.jpg');")
        .text-center
            a.btn.btn_secondary.btn--small(href="#") Загрузить ещё
        //- Interiors
        .mt-3.mb-2
            h4.content-title Интерьерные решения
            .content-interior
                .content-interior__col-left
                    .content-interior__image.content-interior__image--full(data-fancybox="interior" data-src="../demo/demo.jpg" style="background-image:url('../demo/demo.jpg');")
                .content-interior__col-right
                    .content-interior__image(data-fancybox="interior" data-src="../demo/pic-1.webp" style="background-image:url('../demo/pic-1.webp');")
                    .content-interior__image(data-fancybox="interior" data-src="../demo/pic-2.webp" style="background-image:url('../demo/pic-2.webp');")
        //- Content
        .row.content.mt-3.mb-3
            .col-9.col-lg-12
                h4 Информация о коллекции Marble Trend
                p Мрамор является одним из самых востребованных материалов в дизайн-проектах интерьеров. Colorker снова бросает вызов природе в коллекции Invictus, добиваясь крайнего сходства. Утонченная плитка крупного формата в новых цветовых решениях, подчеркивающая естественный рисунок прекрасного камня. 
                p Исключительная красота стала плодом напряженной исследовательской работы, позволившей воплотить в жизнь этот проект, рожденный, чтобы быть непобедимым. Эта коллекция также представлена в расцветке White, позволяющей создавать всегда востребованные полы из белого мрамора высочайшего качества. Расцветку Amber отличает не только огромная сила и индивидуальность, но и ослепительный блеск. INVICTUS, мощная и привлекательная коллекция для рынков, на которых высоко котируется видимая роскошь. 
    .collection-aside.collection-aside_filter(data-collection="filter")
        <button class="collection-aside__close icon-btn" aria-label="Закрыть" type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6Z" fill="currentColor"></path></svg></button>
        a.btn.btn_secondary.btn--small.mb-2(href="#reset") Очистить фильтр
        .collection-aside_filter__body.collection-aside_filter__body--full
            a(href="?test") Test
            .toggle-item.toggle-item_filter#sort
                .toggle-item__title.text-bold Сортировать
                .toggle-item__content
                    .radio.mb-2
                        input.radio__input#sort1(type="radio" name="sort")
                        label.radio__label(for="sort1") Цена: от низкой до высокой
                    .radio.mb-2
                        input.radio__input#sort2(type="radio" name="sort")
                        label.radio__label(for="sort2") Цена: от высокой до низкой
                    .radio
                        input.radio__input#sort3(type="radio" name="sort")
                        label.radio__label(for="sort3") По алфавиту: от А до Я
            .toggle-item.toggle-item_filter#type
                .toggle-item__title.text-bold Тип товара
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#type1(type="checkbox" name="type")
                        label.checkbox__label(for="type1") Плитка
                    .checkbox.mb-2
                        input.checkbox__input#type2(type="checkbox" name="type")
                        label.checkbox__label(for="type2") Резка
                    .checkbox.mb-2
                        input.checkbox__input#type3(type="checkbox" name="type")
                        label.checkbox__label(for="type3") Мозаика
                    .checkbox.mb-2
                        input.checkbox__input#type4(type="checkbox" name="type")
                        label.checkbox__label(for="type4") Специальные элементы
                    .checkbox
                        input.checkbox__input#type5(type="checkbox" name="type")
                        label.checkbox__label(for="type5") Печатные
            .toggle-item.toggle-item_filter#price
                .toggle-item__title.text-bold Цена
                .toggle-item__content
            .toggle-item.toggle-item_filter#brand
                .toggle-item__title.text-bold Производитель
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#brand1(type="checkbox" name="brand")
                        label.checkbox__label(for="brand1") Kerranova
                    .checkbox.mb-2
                        input.checkbox__input#brand2(type="checkbox" name="brand")
                        label.checkbox__label(for="brand2") Grasaro
            .toggle-item.toggle-item_filter#material
                .toggle-item__title.text-bold Тип поверхности
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#material1(type="checkbox" name="material")
                        label.checkbox__label(for="material1") Структурированная с sugar-эффектом
                    .checkbox.mb-2
                        input.checkbox__input#material2(type="checkbox" name="material")
                        label.checkbox__label(for="material2") Матовая
                    .checkbox
                        input.checkbox__input#material3(type="checkbox" name="material")
                        label.checkbox__label(for="material3") Глянцевая
            .toggle-item.toggle-item_filter#size
                .toggle-item__title.text-bold Размер
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#size1(type="checkbox" name="size")
                        label.checkbox__label(for="size1") 60x60
                    .checkbox.mb-2
                        input.checkbox__input#size2(type="checkbox" name="size")
                        label.checkbox__label(for="size2") 120x60
                    .checkbox
                        input.checkbox__input#size3(type="checkbox" name="size")
                        label.checkbox__label(for="size3") 30x60
            .toggle-item.toggle-item_filter#texture
                .toggle-item__title.text-bold Фактура
                    span.toggle-item_filter__value Мрамор, Дерево
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#texture1(type="checkbox" name="texture" checked="checked")
                        label.checkbox__label(for="texture1") Мрамор
                    .checkbox.mb-2
                        input.checkbox__input#texture2(type="checkbox" name="texture" checked="checked")
                        label.checkbox__label(for="texture2") Дерево
                    .checkbox
                        input.checkbox__input#texture3(type="checkbox" name="texture")
                        label.checkbox__label(for="texture3") Штукатурка
            .toggle-item.toggle-item_filter#area
                .toggle-item__title.text-bold Назначение
                .toggle-item__content
                    .checkbox.mb-2
                        input.checkbox__input#area1(type="checkbox" name="area")
                        label.checkbox__label(for="area1") Ванна
                    .checkbox.mb-2
                        input.checkbox__input#area2(type="checkbox" name="area")
                        label.checkbox__label(for="area2") Гостинная
                    .checkbox
                        input.checkbox__input#area3(type="checkbox" name="area")
                        label.checkbox__label(for="area3") Офис
        //- .collection-aside_filter__footer
        //-     a.btn.btn_action.btn--small(href="#reset") Применить фильтр
    include chunks/footer.pug
    link(href='./css/slick.css', rel='stylesheet')
    link(href='./css/slick-theme.css', rel='stylesheet')
    script(src="./js/slick.min.js")

    link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
    script(src="./js/jquery.fancybox.min.js")

    script(src="./js/blazy.min.js")

    script(src="./js/jquery.inputmask.min.js")
    script(src="./js/app.min.js")