html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Page

        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/mixin.pug
        include chunks/header.pug
        
        //- Slider
        .container
            .row.content-row.mt-3.mb-0.mb-md-2
                .col.content-row__slider.mb-2
                    .slider.slider_content
                        a.slider_content__item(href="collection.html" style="background-image: url('../demo/demo.jpg');")
                            .slider_content__content 
                                .slider_content__text Красота и&nbsp;комфорт в&nbsp;вашей гостиной
                                <svg class="slider_content__arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="24" height="24" viewBox="0 0 24.00 24.00" enable-background="new 0 0 24.00 24.00" xml:space="preserve">
                                    <path fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 4,12L 16.25,12L 11,6.74994L 11.6643,6L 18.1642,12.5L 11.6642,19L 11,18.25L 16.25,13L 4,13L 4,12 Z "/>
                                </svg>
                        a.slider_content__item(href="collection.html" style="background-image: url('../demo/photo.png');")
                            .slider_content__content 
                                .slider_content__text Руководство по&nbsp;обустройству вашего дома
                                <svg class="slider_content__arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="24" height="24" viewBox="0 0 24.00 24.00" enable-background="new 0 0 24.00 24.00" xml:space="preserve">
                                    <path fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 4,12L 16.25,12L 11,6.74994L 11.6643,6L 18.1642,12.5L 11.6642,19L 11,18.25L 16.25,13L 4,13L 4,12 Z "/>
                                </svg>
                .col.content-row__promo.mb-2
                    .preview.preview_promo.content-row__promo-inside
                        p.preview__subtitle Новая коллекция
                        p.preview__title.preview_promo__title Central Park
                        .preview_promo__image(style="background-image: url('../demo/photo.png');")
                        p.preview__intro Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см
                        a.link-arrow.preview_promo__link(href="collection.html") Посмотреть коллекцию
        //- Popular Collection
        .container.pb-3.pb-md-2
            h2.h3.mb-2.content-title Самые популярные коллекции
            .slider-container.slider-container_sm
                .slider.slider_preview.slider_collection.row
                    .col-3.mb-2
                        +collection("Marble Trend", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-demo" src="../demo/collection-1.png")
                    .col-3.mb-2
                        +collection("Premium Marble", "Размеры плитки: 80x160, 80x80, 60x120 см")(id="collection-demo" src="../demo/collection-2.png")
                    .col-3.mb-2
                        +collection("Terrazzo", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-demo" src="../demo/collection-3.png")
                    .col-3.mb-2
                        +collection("Montana", "Размеры плитки: 80x160, 80x80, 60x120, 120x120 см")(id="collection-demo" src="../demo/collection-4.png")
                    .col-3.mb-2
                        +collection("Premium Marble", "Размеры плитки: 80x160, 80x80, 60x120 см")(id="collection-demo" src="../demo/collection-2.png")
                    .col-3.mb-2
                        +collection("Terrazzo", "Размеры плитки: 80x160, 80x80, 60x120, 60x60, 120x278 см")(id="collection-demo" src="../demo/collection-3.png")
                    .col-3.mb-2
                        +collection("Montana", "Размеры плитки: 80x160, 80x80, 60x120, 120x120 см")(id="collection-demo" src="../demo/collection-4.png")
        //- Popular Product
        .container.mt-3.mt-md-2.mb-sm-4
            h3.content-title Идеально для ванной комнаты
            .slider.slider_preview.slider_product.row
                .col.slider_product__col.mb-2
                    +product("K-1001 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1002 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 769")(style="background-image:url('../demo/product-2.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1003 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 2 449")(style="background-image:url('../demo/product-3.jpg');")
                //- .col.slider_product__col.mb-2
                //-     +product("K-1004 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 959")(style="background-image:url('../demo/product-4.jpg');")
                //- .col.slider_product__col.mb-2
                //-     +product("K-1005 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-5.jpg');")
                //- .col.slider_product__col.mb-2
                //-     +product("K-1006 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
                //- .col.slider_product__col.mb-2
                //-     +product("K-1007 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-2.jpg');")
                //- .col.slider_product__col.mb-2
                //-     +product("K-1008 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-3.jpg');")
        //- Sale banner
        .content-banner
            .container.pt-3.pb-3
                .row.align-items-center
                    .col-4.col-lg-6.col-md-12.col-sm-12.mb-md-3.mb-sm-1
                        p.h2.content-title.content-banner__title Скидка на&nbsp;всю сантехнику Sanita&nbsp;Luxe до&nbsp;50%
                        p.text-small Lorem ipsum dolor sit amet. Unde omnis dolor repellendus reprehenderit.
                        .d-none.d-lg-block.d-sm-none
                            a.btn.btn_secondary.btn--small(href="#") Получить скидку
                    .col-6.col-lg-6.col-md-12.col-sm-12.mb-sm-3
                        .row
                            .col-4.col-lg-6.col-md-4.col-sm-6
                                img.img-fluid(id="collection-demo" src="../demo/collection-1.png")
                            .col-4.col-lg-6.col-md-4.col-sm-6
                                img.img-fluid(id="collection-demo" src="../demo/collection-2.png")
                            .col-4.col-lg-6.col-md-4.d-lg-none.d-md-block.d-sm-none
                                img.img-fluid(id="collection-demo" src="../demo/collection-3.png")
                    .col-2.d-lg-none.d-sm-block.col-sm-12
                        a.btn.btn_secondary(href="#") Получить скидку
        //- Popular Solution
        .container.pb-3.pb-md-2
            h3.mb-2.content-title Решения для обеденной зоны
            .slider-container.slider-container_sm
                .slider.slider_preview.slider_collection.row
                    .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                        +collection-simple("Дизайн-проект с плиткой из коллекции «Marble Trend»")(id="collection-demo" src="../demo/collection-1.png")
                    .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                        +collection-simple("«Black&White»: идеальное решение для работы и отдыха")(id="collection-demo" src="../demo/collection-2.png")
                    .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                        +collection-simple("Особенная практичность")(id="collection-demo" src="../demo/collection-3.png")
                    //- .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                    //-     +collection-simple("Ярко и стильно — это просто с плиткой «Montana»")(id="collection-demo" src="../demo/collection-4.png")
                    //- .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                    //-     +collection-simple("Дизайн-проект с плиткой из коллекции «Marble Trend»")(id="collection-demo" src="../demo/collection-2.png")
                    //- .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                    //-     +collection-simple("Идеальное решение")(id="collection-demo" src="../demo/collection-3.png")
                    //- .col-3.col-md-4.col-sm-6.col-xs-12.mb-2
                    //-     +collection-simple("Ярко и стильно — это просто с плиткой")(id="collection-demo" src="../demo/collection-4.png")
        //- Project
        .container.mt-3.mt-md-2
            h4.h3.mb-2 Реализованные проекты для&nbsp;вдохновения
            .content-scroll
                .content-group.content-scroll__group
                    a.label.label_link.content-group__item(href="#") Общественные интерьеры
                    a.label.label_link.content-group__item(href="#") Торговые центры
                    a.label.label_link.content-group__item(href="#") Жилые комплексы
                    a.label.label_link.content-group__item(href="#") Бизнес-центры
                    a.label.label_link.content-group__item(href="#") Фасады
                    a.label.label_link.content-group__item(href="#") Салоны красоты
                    a.label.content-scroll__link.content-group__link(href="#") Все проекты
            .row.mt-3.mt-sm-2
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-1.webp" style="background-image: url('../demo/pic-1.webp');")
                        p.preview_portfolio__intro Оформление квартиры-студии
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-2.webp" style="background-image: url('../demo/pic-2.webp');")
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-3.webp" style="background-image: url('../demo/pic-3.webp');")
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-4.webp" style="background-image: url('../demo/pic-4.webp');")
                        p.preview_portfolio__intro Шоу-рум #DesignLab
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-5.webp" style="background-image: url('../demo/pic-5.webp');")
                .col-3.col-lg-4.col-sm-6.mb-2
                    .preview.preview_portfolio(data-fancybox="project" data-src="../demo/pic-6.webp" style="background-image: url('../demo/pic-6.webp');")
        //- Sales
        .container.mt-3.mt-md-2
            p.h3.content-title Узнайте о наших предложениях
            .row
                .col-4.mb-2.col-sm-12
                    +preview-page("Комплексное решение для ванных комнат c сантехникой Sanita Luxe","-50%")(style="background-image: url('../demo/collection-2.png');")
                .col-4.mb-2.col-sm-12
                    +preview-page("Для дизайнеров и архитекторов: каталоги и уникальные  предложения","")(style="background-image: url('../demo/collection-3.png');")
                .col-4.mb-2.col-sm-12
                    +preview-page("Готовые решения для комплектации коммерческих объектов","")(style="background-image: url('../demo/collection-4.png');")
        //- Instagram
        .container.mt-3.mb-3.mt-md-2.mb-sm-2.mb-sm-1
            .content-group
                p.h3.content-title.content-group__title Стильные идеи в&nbsp;Instagram
                a.label.content-group__link(href="#") Больше в профиле
            .row.row_instagram
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-1.webp")
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-2.webp")
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-3.webp")
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-4.webp")
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-5.webp")
                .col-2.col-md-4.col-sm-6
                    img.img-fluid.mb-1(src="../demo/pic-6.webp")
        include chunks/footer.pug
        .collection-aside(data-collection="collection-demo")
            <button class="collection-aside__close icon-btn" aria-label="Закрыть" type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6Z" fill="currentColor"></path></svg></button>
            p.collection__title Marble Trend
            .row.collection-aside__row
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-1.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-2.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-3.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-4.jpg" alt="" title="")
                .collection-aside__col.col-4.mb-2
                    img.img-fluid(src="../demo/product-1.jpg" alt="" title="")
            a.collection-aside__link.btn.btn_secondary.btn--small(href="collection.html") Перейти в коллекцию
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")