html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Product

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/mixin.pug
        include chunks/header.pug
        
        .product
            .product__card
                ul.breadcrumbs.product__breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="/catalog.html") Сантехника
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="/collection.html") Умывальники
                    li.breadcrumbs__item.breadcrumbs__item--active Best Slim
                form.form.row
                    .col-5.col-xl-4.col-md-5.col-sm-12.mb-sm-2
                        .slider.product-slider
                            .slider__item
                                a.product-slider__item(href="javascript;" data-fancybox="slider" data-src="../demo/pic-1.webp" style="background-image:url('../demo/pic-1.webp');")
                            .slider__item
                                a.product-slider__item(href="javascript;" data-fancybox="slider" data-src="../demo/pic-2.webp" style="background-image:url('../demo/pic-2.webp');")
                            .slider__item
                                a.product-slider__item(href="javascript;" data-fancybox="slider" data-src="../demo/pic-3.webp" style="background-image:url('../demo/pic-3.webp');")
                            .slider__item
                                a.product-slider__item(href="javascript;" data-fancybox="slider" data-src="../demo/pic-4.webp" style="background-image:url('../demo/pic-4.webp');")
                            .slider__item
                                a.product-slider__item(href="javascript;" data-fancybox="slider" data-src="../demo/pic-5.webp" style="background-image:url('../demo/pic-5.webp');")
                        .slider.product-slider-nav
                            .slider__item
                                .product-slider-nav__item(style="background-image:url('../demo/pic-1.webp');")
                            .slider__item
                                .product-slider-nav__item(style="background-image:url('../demo/pic-2.webp');")
                            .slider__item
                                .product-slider-nav__item(style="background-image:url('../demo/pic-3.webp');")
                            .slider__item
                                .product-slider-nav__item(style="background-image:url('../demo/pic-4.webp');")
                            .slider__item
                                .product-slider-nav__item(style="background-image:url('../demo/pic-5.webp');")
                    .col-7.col-xl-8.col-md-7.col-sm-12
                        .row
                            .col-7.col-xl-6.col-md-12.mb-md-2
                                .product__body
                                    h1.product__title Best Slim
                                    .product_meta 
                                        a.text-bold(href="/collection.html") Умывальники 
                                        span | Артикул: BST40SLWB01S
                                    .product__offer.mt-3.mt-lg-2 
                                        p Круг, геометрия созданная природой. Накладной умывальник Best 
                                            | презентован в 2021 году. 100% фарфор с гарантией в 15 лет.
                                    .product__banner.mt-3.mt-md-2.d-md-none
                                        img.img-fluid(src="demo/sale.jpg")
                            .col-5.col-xl-6.col-md-12.d-sm-flex.flex-sm-wrap
                                .product-sidebar
                                    p.product__price.product__price_result.mb-1 123 797
                                        span.product__rub ₽
                                    p.text-small Стоимость кв.м. для 
                                        a.product__link(href="#") Самарская обл.
                                    .mb-2
                                        input.input.input_count.input_count--full(type="number" value="1")
                                    a.btn.btn_action.btn--full(href="#") Добавить в корзину
                                a.product-sidebar-btn.btn.btn_secondary.btn--small.btn--full.mt-1(href="#") Купить в 1 клик
                    .col-12.mt-3.d-none.d-md-block
                        .product__banner
                            img.img-fluid(src="demo/sale.jpg")
                .product-content.product-content--close.content
                    .row
                        .col-6.col-sm-12.mb-sm-2
                            p 
                                strong Описание
                            p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
                        .col-6.col-sm-12
                            p 
                                strong Детали
                            p Некоторые вопросы, связанные с языками, использующими латинский. Частотой, имеется разница в различных языках те или иные буквы встречаются. Буквы встречаются с разной частотой, имеется разница в xvi веке. Именно из его трактата о пределах добра и демонстрации внешнего вида. Вырвал отдельные фразы и демонстрации внешнего вида контента, просмотра шрифтов. Вставки на кириллический контент – написание. Есть специальные генераторы, создающие собственные варианты текста сыграет на руку.
                    .product-content__btn
                        a.btn.btn--small.btn_secondary#toggleContent(href="javascript;") Подробнее о товаре
        //- Collection Product
        .container.mt-4.mt-sm-3.pb-3
            h3.h4.content-title Рекомендуем приобрести
            .slider.slider_preview.slider_product.row
                .col.slider_product__col.mb-2
                    +product("K-1001 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1002 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 769")(style="background-image:url('../demo/product-2.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1003 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 2 449")(style="background-image:url('../demo/product-3.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1004 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 959")(style="background-image:url('../demo/product-4.jpg');")
        //- Recommend Product
        .container.mt-4.mt-md-2.pb-3
            h3.h4.content-title Хорошо сочетается с
            .slider.slider_preview.slider_product.row
                .col.slider_product__col.mb-2
                    +product("K-1001 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1002 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 769")(style="background-image:url('../demo/product-2.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1003 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 2 449")(style="background-image:url('../demo/product-3.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1004 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 959")(style="background-image:url('../demo/product-4.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1005 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-5.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1006 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-1.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1007 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-2.jpg');")
                .col.slider_product__col.mb-2
                    +product("K-1008 CARRARA", "Marble Trend" , "60х60, 30х60, 120х60", "от 1 419")(style="background-image:url('../demo/product-3.jpg');")
        //- Interiors Update
        .slider-interior-container
            .container.mt-4.mt-md-2.mb-2
                h4.content-title Интерьерные решения
                .slider.slider_interior
                    a.slider_interior__item(data-fancybox="interior" data-src="../demo/demo-1.jpg")
                        img.img-fluid.slider_interior__image(src="/demo/demo-1.jpg")
                    a.slider_interior__item(data-fancybox="interior" data-src="../demo/demo-2.jpg")
                        img.img-fluid.slider_interior__image(src="/demo/demo-2.jpg")
                    a.slider_interior__item(data-fancybox="interior" data-src="../demo/demo-3.jpg")
                        img.img-fluid.slider_interior__image(src="/demo/demo-3.jpg")
        include chunks/footer.pug

        script(src="./number_plugin/number_plugin.min.js")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")