.modal{
    display: none;
    max-width: 100%;

    &.fancybox-content{
        padding: $spacer/2;
    }

    // Style
    &_map{
        width: 580px;

        .fancybox-button{
            width: 20px;
            height: 20px;
            padding: 0;

            &.fancybox-close-small{
                padding: 0;
            }
        }
    }
    &_form{
        &__content{
            padding: $spacer/2;
        }
    }
}