.cart-item{
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &__image{
        flex: 0 0 180px;
        max-width: 30%;
    }
    &__collection{
        font-size: 12px;
        font-weight: $font-weight-light;
        color: $grey;

        margin-bottom: $spacer/8;
    }
    &__title{
        display: block;

        font-size: 18px;
        font-weight: $font-weight-bold;
        color: $black;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:hover, &:focus{
            color: $black;
        }
    }
    &__article{
        font-size: 12px;
        color: $grey;
    }
    &__prop{
        display: flex;
        flex-wrap: wrap;

        font-size: 12px;
        // color: $grey;
        margin-bottom: 0;

        &-name{
            flex: 0 0 90px;
            max-width: 90px;
            text-align: left;
            font-weight: $font-weight-light;
        }
        &-val{
            flex: 0 0 calc(100% - 90px);
            max-width: calc(100% - 90px);
            text-align: right;
            font-weight: $font-weight-light;
            margin-bottom: 0;
        }
    }
    &__price{
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-align: right;
        margin-bottom: 0;
    }
    &__subprice{
        font-size: 14px;
        text-align: right;
        margin-bottom: 0;
    }
    &__rub{
        margin-left: 4px;
    }
}